In [17]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

##

object = 'M34_0001'
slice = '10'

path = os.getcwd()
path = os.path.dirname(os.path.dirname(path))+f'/output/{object}/'
path

'/home/saramunoz/project/panic_camera_analyser/output/M34_0001/'

In [18]:
df = pd.read_csv(path+f'sources_{slice}.cat')

sources = df.iloc[13:, 0].str.split(expand=True)
sources

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
13,1,1,2634.511,38.85708,526.6057,33.65122,250,1,252,1,250.9994,1.0000,41.1543511,+42.6113026
14,2,1,2141.979,38.85708,533.0565,33.65122,978,1,980,1,978.9993,1.0000,41.0524580,+42.6114805
15,3,1,232.7121,38.85708,516.9378,33.65122,3395,1,3397,1,3396.0080,1.0000,40.7141628,+42.6114234
16,4,1,40048.69,70.943,512.1291,33.65122,20,1,24,2,21.5803,1.3088,41.1864611,+42.6112597
17,5,1,30712.15,54.95221,520.7487,33.65122,126,1,128,2,127.0045,1.3160,41.1717058,+42.6112959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31753,31741,1,19628.62,70.943,619.374,33.65122,3015,3911,3017,3914,3016.0031,3912.0033,40.7664650,+43.0143651
31754,31742,1,20911.2,70.943,622.4165,33.65122,2615,3900,2617,3903,2616.0041,3901.0133,40.8228180,+43.0132860
31755,31743,1,9709.818,67.30244,618.1909,33.65122,3654,3889,3656,3891,3655.0078,3890.0077,40.6764514,+43.0119573
31756,31744,1,22213.34,67.30244,621.6766,33.65122,3004,3933,3006,3935,3005.0031,3934.0029,40.7680097,+43.0166330
31757,31745,1,12184.8,54.95221,627.5803,33.65122,2775,4095,2777,4096,2776.0005,4095.6631,40.8002449,+43.0333186

In [19]:
sources = sources.rename(columns={0:'NUMBER',1: 'EXT_NUMBER', 2: 'FLUX_ISO', 3: 'FLUXERR_ISO',
                                 4: 'BACKGROUND',5: 'THRESHOLD',6: 'XMIN_IMAGE',7: 'YMIN_IMAGE',
                                 8: 'XMAX_IMAGE',9: 'YMAX_IMAGE',10: 'X_IMAGE_DBL',11: 'Y_IMAGE_DBL',
                                 12: 'ALPHA_J2000',13: 'DELTA_J2000'})
sources = sources.reset_index(drop=True)
sources = sources.drop(['NUMBER'], axis=1)
sources.to_csv(path+f'sources_{slice}.csv', index=False)

In [22]:
sources = pd.read_csv(path+f'sources_{slice}.csv')
sources

,EXT_NUMBER,FLUX_ISO,FLUXERR_ISO,BACKGROUND,THRESHOLD,XMIN_IMAGE,YMIN_IMAGE,XMAX_IMAGE,YMAX_IMAGE,X_IMAGE_DBL,Y_IMAGE_DBL,ALPHA_J2000,DELTA_J2000
0,1,2634.5110,38.85708,526.6057,33.65122,250,1,252,1,250.9994,1.0000,41.154351,42.611303
1,1,2141.9790,38.85708,533.0565,33.65122,978,1,980,1,978.9993,1.0000,41.052458,42.611480
2,1,232.7121,38.85708,516.9378,33.65122,3395,1,3397,1,3396.0080,1.0000,40.714163,42.611423
3,1,40048.6900,70.94300,512.1291,33.65122,20,1,24,2,21.5803,1.3088,41.186461,42.611260
4,1,30712.1500,54.95221,520.7487,33.65122,126,1,128,2,127.0045,1.3160,41.171706,42.611296
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31740,1,19628.6200,70.94300,619.3740,33.65122,3015,3911,3017,3914,3016.0031,3912.0033,40.766465,43.014365
31741,1,20911.2000,70.94300,622.4165,33.65122,2615,3900,2617,3903,2616.0041,3901.0133,40.822818,43.013286
31742,1,9709.8180,67.30244,618.1909,33.65122,3654,3889,3656,3891,3655.0078,3890.0077,40.676451,43.011957
31743,1,22213.3400,67.30244,621.6766,33.65122,3004,3933,3006,3935,3005.0031,3934.0029,40.768010,43.016633
31744,1,12184.8000,54.95221,627.5803,33.65122,2775,4095,2777,4096,2776.0005,4095.6631,40.800245,43.033319